<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <style>
        #app .form{
            margin: 10px
        }
    </style>
</head>

<body>
    <div id="app">
        <form class="form-inline form">
            <div class="form-group">
                <label for="exampleInputName2">ID</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="" v-model="id">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="" v-model="name">
            </div>
            <!-- 在VUE绑定事件中，为元素指定绑定参数时候可以使用（）的，如果使用的话可以往里面传参数 -->

            <!-- 使用buttont绑定事件时点一下就显示一下数据然后就消失了，换成input type="button"就行了 ，目前还没弄明白为什么 -->
            <!-- 接上面疑问，button有默认的点击行为，需要使用事件修饰符组织默认行为@click.prevent -->
            <!-- <button type="submit" class="btn btn-primary" @click.prevent="add">提交</button> -->
            <input type="button" value="ADD" class="btn btn-primary" @click="add">
            <!-- <div class="form-group">
                <label for="exampleInputName2">名称搜索</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="搜索" >
            </div> -->
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>品牌</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.time}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>

        </table>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                list: [
                    { id: 1, name: '宝马', time: new Date() },
                    { id: 2, name: '奔驰', time: new Date() }
                ]
            },
            methods: {
                add(){
                    console.log('ok')
                    // 1.获取id和name的数据，因为做了数据绑定，直接从data中获取，2.组成一个对象加到list数组中
                    // vue中默认数据双向绑定
                    var car = {id:this.id,name:this.name,time:new Date()}
                    this.list.push(car)
                    // 清空输入框内容
                    this.id=this.name=''
                    
                },
                del(id){
                    // 1.根据ID删除这一项的索引
                    // 2.找到索引直接调用数组的splice方法删除
                }

            },
        })
    </script>
</body>

</html>